
element.style {
}
h1 {
  color: #800000;
  text-align: left;
  font-size: 84px;
  font-family: "Verdana";
  font-weight: 900;
  padding-bottom: 00px;
  
}
body {
    background-color:  #d4a583 ;
    height: 100%;
    padding: 0;
}
body {
    margin: 0;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}
html {
    font-size: 16px;
}
html {
    font-family: sans-serif;
}
user agent stylesheet
html {
    color: -internal-root-color;
}
a:link {
  color: brown;
}
a:visited {
  color: black;
}
a:hover {
  color: white;
}
a:active {
  color: orange;
}





.topnav {
  background:  url("images/texture-photography-wood-bark.jpg");
  background-color: #573B00;
  overflow: hidden;
  padding-bottom: 70px;
}
.topnav a {
  float: left;
  color: #FFA500;
  background-color: #303030;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #FFA500;
  color: white;
}


